//format for rows in table
table, .row 
{
    display: block;
    max-width:90%;
    margin-left:1%; 
}

// adjust table height from top of page
table
{
    top:35%;
}

// handling of table overflow for bottom of page
tbody
{
    overflow-y:auto;
}

// style for each search result element
.ellipsis 
{ 
    overflow: hidden;
    -ms-text-overflow: ellipsis; 
    -o-text-overflow: hidden; 
    text-overflow: hidden; 
    white-space: nowrap;
    width: inherit
}

// styling for modals
.modal .modal-body 
{
    max-height: 420px;
    overflow-y: auto;
}

// styling for title
h1 
{
    text-align: center;
    color: white; 
    background-color: crimson;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 800%;
}

h5 
{
    text-align: left;
    color:black;
    font-family:Verdana, Geneva, sans-serif;
    font-size:100%;
}
// background-color for html
body
{
    margin:0;
    background-color:#CCE6FF;
}
// styling for table elements
tbody 
{
 overflow: auto;
}

// styling for paragraphs in modal descriptions of each club
.modal-body p {
    word-wrap: break-word;
}     