#mine
{
    color: blue;
    background-color: red;
}

table, .row {
    display: block;
    max-width:90%;
    margin-left:1%; 
}
            
table
{
    table-layout:fixed;
    top:35%;
}
tbody
{
    overflow-y:auto;
}
            
.top-buffer { 
    margin-top:20px; 
}

.ellipsis { 
    overflow: hidden;
    -ms-text-overflow: ellipsis; 
    -o-text-overflow: hidden; 
    text-overflow: hidden; 
    white-space: nowrap;
    width: inherit
}
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
h1 {
    text-align: center;
    color:black;
    font-family:Verdana, Geneva, sans-serif;
    font-size:400%;
}
h5 {
    text-align: left;
    color:black;
    font-family:Verdana, Geneva, sans-serif;
    font-size:100%;
}
.page-header {
    position: fixed;
    float: top;
} 
tbody {
 width: 200px;
 height: 400px;
 overflow: auto;
} 
.modal-body p {
    word-wrap: break-word;
}     
