<!DOCTYPE html>

<!--
Search
Dropdown Category
Dropdown Size
Checkbox Box Comp Process
Dropdown Leadership Process
Inputted MaxHours
Inputted MaxIntensity
-->

<html>
    <head>
        <title>clubs.cs50.net</title>
    </head>
    <body style="text-align: center;">
        <form action="homepage.php" method="post"> 
            <input type="text" name="name" placeholder="Search Clubs and Organizations"><br>
            <br/>
            <select>
                <option value="All Categories" selected>Browse by Category</option>
                <option value="Academic">Academic</option>
                <option value="Advocacy & Global Impact">Advocacy & Global Impact</option>
                <option value="Campus Administrative Offices">Campus Administrative Offices</option>
                <option value="Club Sport">Club Sport</option>
                <option value="Competition & Skilled-Based">Competition & Skilled-Based</option>
                <option value="Creative & Visual Arts">Creative & Visual Arts</option>
                <option value="Experimential & Professional">Experimential & Professional</option>
                <option value="Fraternities">Fraternities</option>
                <option value="Gratuate">Graduate</option>
                <option value="International & Cultural">International & Cultural</option>
                <option value="Leadership & Governing">Leadership & Governing</option>
                <option value="Northeastern Community Connection">Northeastern Community Connection</option>
                <option value="Outdoor Adventure & Wellness">Outdoor Adventure & Wellness</option>
                <option value="Performing Arts">Performing Arts</option>
                <option value="Philantropic & Community Engagement">Philantropic & Community Engagement</option>
                <option value="Political Action">Political Action</option>
                <option value="Print & Broadcast Media">Print & Broadcast Media</option>
                <option value="Religious & Spiritual">Religious & Spiritual</option>
                <option value="Representaitve Board">Representaitve Board</option>
                <option value="Sororities">Sororities</option>
                <option value="Special Interest">Special Interest</option>
        </select>
            <br/>
        <select>
                <option value="Size" selected>Size</option>
                <option value="0-50">Small</option>
                <option value="51-100">Medium</option>
                <option value="101-200">Large</option>
                <option value="200+">XLarge</option>
        </select>
            <br/>
            <input name="NoComp" type="checkbox"/> No Comp Process?
            <br/>
        <select>
                <option value="Leadership Process" selected>Leadership Process</option>
                <option value="Elected">Elected</option>
                <option value="Applications">Applications</option>
                <option value="Other">Other</option>
        </select>
            <br/>
             <input type="text" name="MinHours" placeholder="Minimum Number of Hours"><br>
            <br/>
            <input type="text" name="MaxHours" placeholder="Maximum Number of Hours"><br>
            <br/>
        </form>
    </body>
</html>
