<!DOCTYPE html>

<!--
Search
Dropdown Category
Dropdown Size
Checkbox Box Comp Process
Dropdown Leadership Process
Inputted MaxHours
Inputted MaxIntensity
-->

<html>
    <head>
        <title>clubs.cs50.net</title>
    </head>
    <body style="text-align: center;">
        <form action="homepage.php" method="post"> 
            <input type="text" name="name" placeholder="Search Clubs and Organizations"><br>
            <br/>
            <select>
                <placeholder="Browse by Category">
                <option value="Academic">Academic</option>
                <option value="Advocacy & Global Impact">Advocacy</option>
                <option value="Campus Administrative Offices">CampusAdmine</option>
                <option value="Club Sport">ClubSport</option>
                <option value="Competition & Skilled-Based">Competition</option>
                <option value="Creative & Visual Arts">VisualArts</option>
                <option value="Experimential & Professional">Professional</option>
                <option value="Fraternities">Fraternities</option>
                <option value="Gratuate">Graduate</option>
                <option value="International & Cultural">Cultural</option>
                <option value="Leadership & Governing">Leadership</option>
                <option value="Northeastern Community Connection">NECommunity</option>
                <option value="Outdoor Adventure & Wellness">Outdoor</option>
                <option value="Performing Arts">PerformingArts</option>
                <option value="Philantropic & Community Engagement">Philantropic</option>
                <option value="Political Action">Political</option>
                <option value="Print & Broadcast Media">Media</option>
                <option value="Religious & Spiritual">Religious</option>
                <option value="Representaitve Board">RepresentativeBoard</option>
                <option value="Sororities">Sororities</option>
                <option value="Special Interest">SpecialInterest</option>
        </select>
            <br/>
        <select>
                <placeholder="Size">
                <option value="0-50">Small</option>
                <option value="51-100">Medium</option>
                <option value="101-200">Large</option>
                <option value="200+">XLarge</option>
        </select>
            <br/>
            <input name="Comp" type="checkbox"/> Comp Process?
            <br/>
        <select>
                <placeholder="Leadership Process">
                <option value="Elected">Elected</option>
                <option value="Applications">Applications</option>
                <option value="Other">Other</option>
        </select>
            <br/>
             <input type="text" name="MaxHours" placeholder="Max Number of Hours"><br>
            <br/>
             <input type="text" name="MaxIntensity" placeholder="Max Intensity"><br>
            <br/>
        </form>
    </body>
</html>
