<!DOCTYPE html>
<!--
Form Includes:
User-Inputed earch
Dropdown Category/Division
Dropdown Sizess
Checkbox Box Comp Process
Dropdown Leadership Process
User-Inputted MinHours
User-Inputted MaxHours
Date Selection for Deadlines
-->

<!--
Table Includes:
Name
Size
Hours/Week
Comp Process
Leadership Process
Deadline
-->

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap Includes and Self-Wrote Styles Sheet-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        
        <!-- Ajax and other interactive scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        <!-- sortable API -->
        <link rel="stylesheet" href="../templates/sortable-0.5.0/js/sortable-theme-dark.css" />
        <script src="../templates/sortable-0.5.0/js/sortable.min.js"></script> 
    </head>
    <body>
        <!-- Page Header Fixed On Top Includes Web Title and Form -->
        <div class="page-header">
            <h1>HarvardClubs.Net</h1>
                <!-- Start Form With fluid container -->
                <div class="container-fluid">
                <!-- Send to mainController.php -->
                <form class="form-inline" role="form" action="mainController.php" method="post">
                    <!-- First row in the search bar -->
                    <div class = "row-fluid">
                        <!-- Search - user-inputted text -->
                        <div class="form-group">
                            <div class = "span5">
                                <input type="search" class="form-control" name="search" autocomplete="on" placeholder="Search Clubs">
                            </div>
                        </div>
                        <!-- Dropdown for division -->
                        <div class="form-group">
                            <div class = "span5">
                                <select class="form-control" name="division">
                                    <option value="All Categories" selected>All Categories</option>
                                    <option value="Academic & Pre-Professional">Academic & Pre-Professional</option>
                                    <option value="College Life">College Life</option>
                                    <option value="Creative & Performing Arts">Creative & Performing Arts</option>
                                    <option value="Cultural & Racial Initiatives">Cultural & Racial Initiatives</option>
                                    <option value="Departmental">Departmental</option>
                                    <option value="Gender & Sexuality">Gender & Sexuality</option>
                                    <option value="Government & Politics">Government & Politics</option>
                                    <option value="health & Wellness">Health & Wellness</option>
                                    <option value="Hobbies/Special Interests">Hobbies/Special Interests</option>
                                    <option value="Media & Publications">Media & Publications</option>
                                    <option value="Peer Counseling/Peer Education">Peer Counseling/Peer Education</option>
                                    <option value="Public Service">Public Service</option>
                                    <option value="Religious & Spiritual">Religious & Spiritual</option>
                                    <option value="Women's Initiatives">Women's Initiatives</option>
                                </select>
                            </div>
                        </div>
                        <!-- Dropdown for size -->
                        <div class="form-group">
                            <div class = "span1">
                                <select class="form-control" name="size">
                                    <option value="0" selected>All Sizes</option>
                                    <option value="1">0-10</option>
                                    <option value="2">11-30</option>
                                    <option value="3">31-50</option>
                                    <option value="4">51-100</option>
                                    <option value="5">101-200</option>
                                    <option value="6">200+</option>
                                </select>
                            </div>
                        </div>
                        <!-- Checkbox for nocomp -->
                        <div class="form-group">
                            <div class = "span1">
                                <input type="checkbox" name="nocomp" class="form-control"> No Comp
                            </div>
                        </div>
                        <!-- Dropdown for leadership process -->
                        <div class="form-group">
                            <div class = "span3">
                                <select class="form-control" name="leadership">
                                    <option value="0" selected>All Leadership Processes</option>
                                    <option value="1">Elected</option>
                                    <option value="2">Applications</option>
                                    <option value="3">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Start of new row (2nd row) -->
                    <div class = "row-fluid">
                        <!-- Min Hours/Week Text Inputted by User -->
                        <div class="form-group">
                            <div class="span3">
                                <input type="number" min="0" step="any" max="128" class="form-control" name="min_hours" placeholder="Minimum Hours/Week">
                            </div>
                        </div>
                        <!-- Max Hours/Week Text Inputted by User -->
                        <div class="form-group">
                            <div class = "span3">
                                <input type="number" min="0" step="any" max="128" class="form-control" name="max_hours" placeholder="Maximum Hours/Week">
                            </div>
                        </div>
                        <!-- Furtherest Deadline Date Inputted by User -->
                        <div class="form-group">
                            <div class = "span3">
                                Furthest Deadline: <input type="date" class="form-control" name="deadline" placeholder="Furthest Deadline" min="2000-01-02">
                            </div>
                        </div>
                        <!-- Search Button Using Bootstrap Glyph -->
                        <button class="btn btn-info" type="submit">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                </form>
            </div> <!-- end of fluid-container -->
        </div> <!-- end of page-header -->
            
    <!-- Create table -->
        <table class = "table table-bordered table-hover container-fluid sortable-theme-dark" data-sortable>
                <thead>
                    <tr>
                        <th>Club</th>
                        <th>Size</th>
                        <th>Hours/Week</th>
                        <th>Comp Process</th>
                        <th>Leadership Process</th>
                        <th>Application Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Display clubs that match profile -->
                    <?php if($search_results != -1){
                            foreach($search_results as $result) { ?>
                            <!-- clickable rows to link to modal for more information -->
                            <tr class = "clickableRow" href="#" data-toggle="modal" data-target="#basicModal">
                                <td class="name filterable-cell"><?= $result["name"]; ?></td>
                                <td class="filterable-cell"><?= $result["size"]; ?></td>
                                <td class="filterable-cell"><?= $result["avghours"]; ?></td>
                                <td class="filterable-cell"><?= $result["comp"]; ?></td>
                                <td class="filterable-cell"><?= $result["leadership"]; ?></td>
                                <td class="filterable-cell"><?= $result["deadline"];?></td>
                            </tr>
                    <?php } } ?>
                    <tr class = "clickableRow" href="#" data-toggle="modal" data-target="#basicModal">
                        <td class="name filterable-cell">CS50</td>
                        <td class="filterable-cell">CS50CS50</td>
                        <td class="filterable-cell">CS50CS50CS50</td>
                        <td class="filterable-cell">CS50CS50</td>
                        <td class="filterable-cell">>CS50</td>
                        <td class="filterable-cell">CS50CS50CS50CS50</td>
                    </tr>     
                </tbody>
        </table>
        <script>sortable.init();</script>
        
        <!-- Modal for Club description, etc. after row is clicked -->    
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 class="modal-title" id="myModalLabel" align = "center">Club Name</h3>
                    </div>
                    <div class="modal-body">
                        <h6>Description:<?= $result["description"]; ?> </h6>
                        <div class = "fluid-container">
                                <p>afdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                afdasuifhaiudfhaudifhauidfhauidfhaduifhauidfhaafdasuifhaiudfhaudifhauidfhauidfhaduifhauidfhaafdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                bfdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                cfdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                dfdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                efdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                afdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                afdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                afdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                afdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                afdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                afdasuifhaiudfhaudifhauidfhauidfhaduifhauidfha
                                </p>
                                <h6>Link: <?= $result["link"]; ?></h6>
                                <h6>Website: <?= $result["website"]; ?></h6>
                                <h6>Contact Info: <?= $result["contact info"]; ?></h6>
                                <h6>Size: <?= $result["size"]; ?></h6>
                                <h6>Hours/Week: <?= $result["hours"]; ?></h6>
                                <h6>Meeting Time: <?= $result["name"]; ?></h6>
                                <h6>Meeting Place: <?= $result["name"]; ?></h6>
                                <h6>Comp Process: <?= $result["name"]; ?></h6>
                                <h6>Leadership Process: <?= $result["name"]; ?></h6>
                                <h6>Application Deadline: <?= $result["name"]; ?></h6>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Club I'm In</button>
                        <button type="button" class="btn btn-primary">Star Club</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </body>
</html>

