<!DOCTYPE html>
<html>

    <body>

    <h1>My First Heading</h1>

    <p>My first paragraph.</p>
        <table class="table table-bordered table-hover container-fluid sortable-theme-bootstrap" data-sortable>
            <tr>
                <th>Name</th>
                <th colspan="2">Telephone</th>
            </tr>
            <tr>
                <td>Bill Gates</td>
                <td>555 77 854</td>
            </tr>
            <tr>
                <td>Joe Smith</td>
                <td>111 722 3434</td>
            </tr>
        </table>
    </body>
</html>

