<!DOCTYPE html>
<!--
Search
Dropdown Category
Dropdown Size
Checkbox Box Comp Process
Dropdown Leadership Process
Inputted MinHours
Inputted MaxHours
Date Selection for Deadlines
-->

<html>
    <head>
        <meta charset="UTF-8">
        <title>clubs.cs50.net</title>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link href="css/boostrap.min.css" rel=stylesheet" media="screen">
        <style>
            .col-xs-12{
            height: 80px;
            background-color: purple;
            color: white;
            text-align: center;
            }
    </style>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                Hi
                </div>
                <div class="col-xs-6">
                Hi
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-xs-4">
                Hi
                </div>
                <div class="col-xs-4">
                Hi
                </div>
                <div class="col-xs-4">
                Hi
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-4">
                Hi
                </div>
                <div class="col-xs-4">
                Hi
                </div>
                <div class="col-xs-4">
                Hi
                </div>
            </div>
        </div>
    </body>
</html>










