<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


        <link rel="stylesheet" href="../templates/sortable-0.5.0/js/sortable-theme-dark.css" />
        <script src="../templates/sortable-0.5.0/js/sortable.min.js"></script>
  
    </head>
    <body>

    <h1>My First Heading</h1>

    <p>My first paragraph.</p>
        <table class = "table table-bordered table-hover container-fluid sortable-theme-dark" data-sortable>
            <div class = "span12">
            <thead>
                <tr>
                    <th data-sortable="true">Name</th>
                    <th data-sortable="true">Telephone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bill Gates</td>
                    <td>555 77 854</td>
                </tr>
                <tr>
                    <td>Joe Smith</td>
                    <td>111 722 3434</td>
                </tr>
            <tbody>
        </table>
        </div>  
        <script>sortable.init();</script>
            
    </body>
</html>

