<!DOCTYPE html>
<!--
Form Includes:
User-Inputed earch
Dropdown Category/Division
Dropdown Sizess
Checkbox Box Comp Process
Dropdown Leadership Process
User-Inputted MinHours
User-Inputted MaxHours
Date Selection for Deadlines
-->

<!--
Table Includes:
Name
Size
Hours/Week
Comp Process
Leadership Process
Deadline
-->

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap's stylesheets -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <!--Customized stylesheet -->
        <link rel="stylesheet" href="css/styles.css">
        
        <title>Clubs.CS50</title>
        
        <!-- Ajax and other interactive scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body> 
        <!-- Navbar to contain searchbar -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <!-- Search form -->
                <form class="form-inline" role="form" action="mainController.php" method="post">
                    <!-- Textbar for user-inputted searches -->
                    <div class="form-group text-center" style="padding:10px">
                        <label class="control-label" style="10px">Search</label>
                            <input type="search" class="form-control search" name="search" autocomplete="on" placeholder="Search Clubs">
                    </div>
                    <!-- Checkbox for nocomp -->
                    <div class="form-group text-center" style="padding:10px">
                        <label class="control-label" style="10px">No Comp?</label>
                        <input type="checkbox" name="nocomp" class="form-control">
                    </div>
                    <!-- Dropdown for size -->
                    <div class="form-group text-center" style="padding:10px">
                        <label class="control-label" style="10px">Size</label>
                        <select class="form-control" name="size">
                            <option value="0" selected>All Sizes</option>
                            <option value="1">0-10</option>
                            <option value="2">11-30</option>
                            <option value="3">31-50</option>
                            <option value="4">51-100</option>
                            <option value="5">101-200</option>
                            <option value="6">200+</option>
                        </select>
                    </div>
                    <!-- Min Hours/Week Text Inputted by User -->
                    <div class="form-group text-center" style="padding:10px">
                        <label class="control-label" style="10px">Min Hours/Week</label>
                        <input type="number" min="0" step="any" max="128" class="form-control" name="min_hours" placeholder="Min Hours/Week">
                    </div>
                    <!-- Max Hours/Week Text Inputted by User -->
                    <div class="form-group text-center" style="padding:10px">
                        <label class="control-label" style="10px">Max Hours/Week</label>
                        <input type="number" min="0" step="any" max="128" class="form-control" name="max_hours" placeholder="Max Hours/Week">
                    </div><br>
                    <!-- Dropdown for division -->
                    <div class="form-group text-center" style="padding:10px">
                        <label class="control-label" style="10px">Division</label>
                        <select class="form-control" name="division">
                            <option value="All Categories" selected>All Categories</option>
                            <option value="Academic & Pre-Professional">Academic & Pre-Professional</option>
                            <option value="College Life">College Life</option>
                            <option value="Creative & Performing Arts">Creative & Performing Arts</option>
                            <option value="Cultural & Racial Initiatives">Cultural & Racial Initiatives</option>
                            <option value="Departmental">Departmental</option>
                            <option value="Gender & Sexuality">Gender & Sexuality</option>
                            <option value="Government & Politics">Government & Politics</option>
                            <option value="health & Wellness">Health & Wellness</option>
                            <option value="Hobbies/Special Interests">Hobbies/Special Interests</option>
                            <option value="Media & Publications">Media & Publications</option>
                            <option value="Peer Counseling/Peer Education">Peer Counseling/Peer Education</option>
                            <option value="Public Service">Public Service</option>
                            <option value="Religious & Spiritual">Religious & Spiritual</option>
                            <option value="Women's Initiatives">Women's Initiatives</option>
                        </select>
                    </div>
                    <!-- Dropdown for leadership process -->
                    <div class="form-group text-center" style="padding:10px">
                        <label class="control-label" style="10px">Leadership Process</label>
                        <select class="form-control" name="leadership">
                            <option value="0" selected>All Leadership Processes</option>
                            <option value="1">Elected</option>
                            <option value="2">Applications</option>
                            <option value="3">Other</option>
                        </select>
                    </div>
                    <!-- Furthest Deadline Date Inputted by User -->
                    <div class="form-group text-center" style="padding:10px">
                        <label class="control-label" style="10px">Furthest Deadline</label>
                        <input type="date" class="form-control" name="deadline" placeholder="Furthest Deadline" min="2000-01-02">
                    </div>
                    <!-- Search Button Using Bootstrap Glyph -->
                    <button class="btn btn-info" type="submit">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </form>
              </div>
            </div>
        </nav>
        <!-- Logo -->
        <div class="container-fluid">
            <div class="text-center title">
                <a href="http://harvardclubs.net/mainController.php">
                    <h1><img src="http://images.cooltext.com/4034467.jpg" width="322" height="51" alt="Clubs.CS50"/></h1>
                </a>
            </div>
        </div>
        
        <!-- Table for displaying results-->
        <div class="container-fluid">
            <div style="padding:20px">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Club</th>
                            <th>Size</th>
                            <th>Hours/Week</th>
                            <th>Comp Process</th>
                            <th>Leadership Process</th>
                            <th>Application Deadline</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Display clubs that match profile -->
                        <?php if($search_results != -1){
                                foreach($search_results as $result) { ?>
                                <!-- clickable rows to link to modal for more information. Pass on information through data-club-id -->
                                <tr class="clickableRow" href="#" data-toggle="modal" data-target="#basicModal" data-club-id="<?= $result['id'] ?>">
                                    <td><?= $result["name"]; ?></td>
                                    <td><?= $result["size"]; ?></td>
                                    <td><?= $result["avghours"]; ?></td>
                                    <td><?= $result["comp"]; ?></td>
                                    <td><?= $result["leadership"]; ?></td>
                                    <td><?= $result["deadline"]; }?></td>
                                </tr>
                        <?php } else { ?>
                        <tr>
                            <td colspan="6" data-align="center">No matching clubs were found.</td>
                        </tr>
                        <?php } ?>
                        <!-- detects when rows are clicked in order to extract relevant info from $info -->
                        <script>
                            /*
                            // blank variables to store id and club of clicked row in correct scope
                            var id;
                            var club;
                            
                            $(".clickableRow").click(function() {
                                // extract club id from clicked row
                                id = $(".clickableRow").data("club-id");

                                // store club descriptions
                                var results = <?php echo json_encode($info); ?>

                                for(var result in results)
                                {
                                    if(result['id'] == id)
                                    {
                                        club = result;
                                        break;
                                    }
                                }
                            });
                            */
                        </script>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Modal for Club description, etc. after row is clicked -->    
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 class="modal-title" id="myModalLabel" align = "center">Club Name</h3>
                    </div>
                    <div class="modal-body">
                        <div class = "fluid-container" id="modal-id">
                            <script>
                                // dump info of clubs returned by search
                                var results = <?php echo json_encode($info); ?>;
                                alert(results);
                                $(".clickableRow").click(function() {
                                    // club id of clicked row
                                    var id = $(".clickableRow").data("club-id");
                                    
                                    // empty variable to hold club in scope
                                    var club;
                                    var tester = typeof result;
                                    alert(tester);
                                    // search results for correct information of clicked row
                                    for (var result in results)
                                    {
                                        if(result['id'] == id)
                                        {
                                            document.getElementById("modal-id").innerHTML= result['id'];
                                            break;
                                        }
                                    }
                                });
                            </script>
                            <h6>Website: <?= $result["website"]; ?></h6>
                            <h6>Contact Info: <?= $result["contact info"]; ?></h6>
                            <h6>Size: <?= $result["size"]; ?></h6>
                            <h6>Hours/Week: <?= $result["hours"]; ?></h6>
                            <h6>Meeting Time: <?= $result["name"]; ?></h6>
                            <h6>Meeting Place: <?= $result["name"]; ?></h6>
                            <h6>Comp Process: <?= $result["name"]; ?></h6>
                            <h6>Leadership Process: <?= $result["name"]; ?></h6>
                            <h6>Application Deadline: <?= $result["name"]; ?></h6>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Club I'm In</button>
                        <button type="button" class="btn btn-primary">Star Club</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </body>
</html>

